
.form{
    max-width: 500px;
    padding: 30px;
}


.label-control{
    display: inline-block;
    width: 200px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 28px;
    text-align: right;

}
.input-control{
    display: inline-block;
    width: 250px;
    position: relative;
}
.input{
    display: block;
    width: 100%;
    padding: 7px;
    font-size: 14px;
    color: gray;
}
input:focus{
    outline: none;
    border: 2px solid #17b000;
    box-shadow: 1px 0 2px 0;

}

.error{
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    left: 0;
    bottom: -20px;
}
.notify-block, .error {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(calc(-100% - 5px));
    padding: 5px;
    border: 1px solid #585858;
    border-radius: 5px;
}
.error{
    color: red;
    top: auto;
    bottom: 0;
    transform: translateY(calc(100% + 5px));
    border: none;
    margin: 0;
    font-size: 16px;

}
.notify-block .fa{
    margin-left: 10px;
}